body {
  margin: 0;
  /* font-family: 'Lato', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poiret One', cursive;
  /* background-color: #827EDE; */
  background: linear-gradient(to right, #201a2c, #a1bfe6, #201a2c );  
  color: black;
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  /* font-family: 'Lato', sans-serif; */
}
